.blogs {
    border: 0px;
    margin: 0px;
    padding: 10px;
    background-color: white;
    max-width: 70%;
    position: relative;
    left: 350px;
    background:rgba(0,0,0,0.1);
}
body {
    background-image: url('https://cdn.luogu.com.cn/upload/image_hosting/zy2ogigg.png');
}
