.blogs {
    border: 0px;
    margin: 0px;
    padding: 10px;
    background-color: white;
    max-width: 70%;
    position: relative;
    left: 350px;
    background:rgba(0,0,0,0.1);
}
#bodycontainer {
    width:100%;
    height:100%;
    min-width:973px;
    min-heigth:584px;
    background-image:url("https://cdn.luogu.com.cn/upload/image_hosting/zy2ogigg.png");
    background-repeat:no-repeat;
    background-size:cover;
}
